<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Login</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://cdn.jsdelivr.net/gh/gnat/surreal/surreal.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {{ if  .Profile.Name }}
    <form method="post" action="/logout">
      <button type="submit">Logout</button>
    </form>
    {{ else }}
    <form method="post" action="/login">
      <button type="submit">Login</button>
    </form>
    {{ end }}
    {{ template "main" . }}
  </body>
</html>
